.highlight{
  background-color: rgb(116, 255, 85);
}

.invalid {
  background-color: rgb(255, 92, 87);
}

.orange{
  color: orange;
}





.show{
  color: orange;
  display: inline;
}

.green{
  background-color: rgb(19, 215, 15);
}

.borange{
  background-color: rgb(242, 106, 7);
}

.blue{
  background-color: rgb(24, 115, 236);
}

.pong div{
  text-align: center;
  margin: 0 auto;
  width: 40%;
  height: 150px;
  color: white;
}

.pong div button{
  color: black;
}
