<!DOCTYPE html>
<html ng-app=''>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js'></script>
    <script src='app.js'></script>
  </head>
  <body>
    <input ng-model="name"  type="text" placeholder="What is your name">
    <h1 ng-init="name='Bojack'"> Hi, my name is {{name}}</h1>

    <select ng-model='animals'>
      <option>Dogs</option>
      <option>Dogs and Cats</option>
      <option>Cats</option>
      <option>Neither</option>
    </select>
    <h3>I love {{animals}}</h3>
  </body>
</html>
