<!DOCTYPE html>
<html ng-app='firstApp'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='app.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js'></script>
    <script src='app2.js'></script>
  </head>
  <body>
    <input ng-model="name"  type="text" placeholder="What is your name">
    <h1 ng-init="name='Bojack'"> Hi, my name is {{name}}</h1>


    <p>The array [99,43,22] is {{ [99,43,22].length }} items long.</p>
    <p> 1+5={{1+5}}</p>
    <p> my name is {{'bojack' + ' horseman'}}</p>
    <h2> Currency filter example</h2>
    <p>The real number is 73.092446347 and is displayed as {{73.092446347 | currency}}</p>
    <p>The real number is 73.092446347 and is displayed as {{73.092446347 | currency: '€'}} with the Euro filter</p>

    <select ng-model='animals'>
      <option>Dogs</option>
      <option>Dogs and Cats</option>
      <option>Cats</option>
      <option>Neither</option>
    </select>
    <h3>I love {{animals}}</h3>

    <h2>Caps Filter</h2>
    <input type='text' ng-model='capsName'>
    <p>My capitalized name is : {{capsName | uppercase}}</p>

    <h3>Digit Filtering!</h3>
    <label>How many digits do you want to show?</label>
    <select ng-model='digits'>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <p> The
      <ng-pluralize count="digits" when="{'0': '',
                           '1': 'First Digit of Pi :  {{3.1346346 | number:1}}',
                           '2': 'First two digits of Pi:   {{3.1346346 | number:2}}',
                           '3': 'Three digits of Pi:  {{3.1346346 | number:3}}',
                           '4': 'Four digits of Pi:  {{3.1346346 | number:4}}'}">
    </p>


    <h1>Super Userful Tip Calculator McThingy</h1>
    <label>How much did your meal cost</label>
    <input ng-model='meal' type='text'>
    <label>How much would you like to tip</label>
    <select ng-model='tip'>
      <option value=.1>10%</option>
      <option value=.2>20%</option>
      <option value=.3>30%</option>
    </select>
    <p> Meal Total:{{meal | currency}}</p>
    <p> Tip: {{meal * tip | currency}}</p>

    <h1>Is this expression invalid? : {{}}</h1>


    <h1>Getting to know Controllers:</h1>
    <div ng-controller="MyFirstController">
      <h1>My name is: {{name}}</h1>
      <input ng-model="name" type="text" placeholder="What is your name">
    </div>

    <h1>Excercises Controller Dawg</h1>
    <div ng-controller='ExercisesController'>
        <h2> Seconds in a century = {{secondsInACentury | number: 2}}</h2>
        <p> my most favoritest of colors is {{color}}</p>
        <p> the date today is:  {{rightNow}}</p>
        <p> the other way is : {{date  | date: 'EEEE, MMMM d, y'}}</p>
        <p> or : {{date  | date: 'yyyy-MM-dd HH:mm:ss Z'}}</p>
    </div>

    <div ng-controller='directivePractice'>
      <h2>Directives Practice</h2>
        <ul>
          <li ng-repeat='name in names'>
            {{name}}
          </li>
        </ul>
      <h3> Repeating symbols</h3>
        <ul>
          <li ng-repeat='card in symbols'>
            {{card}}
          </li>
        </ul>
        <p>Repeating duplicates in an array with track by $index</p>
        <ul>
          <li ng-repeat='number in numbers track by $index'>
            {{number}}
          </li>
        </ul>
        <p>Repeating over object keys</p>
        <ul>
          <li ng-repeat='key in address'>
            {{key}}
          </li>
        </ul>
    </div>

    <h3> The values of the directive expression here evaluate to true or false,
         and show if true and ng-show and hide if true and ng-hide. Anf vice versa.</h3>
    <div ng-show="3 + 4 == 5">
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show="3 + 4 == 7">
      3 + 4 is 7, do show
    </div>

    <div ng-hide="3 + 4 == 5">
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide="3 + 4 == 7">
      3 + 4 is 7, do hide
    </div>

    <div ng-controller='passwordController'>
    <h1>Sign Up Page</h1>
    <input ng-class='highlight' type='password' ng-model='password'>
    <p>Your password is {{password.length}} characters long.</p>
    <button ng-show="password.length >= 6">Sign Up</button>
    <p ng-show="password.length < 6"> Not long enough</p>
    </div>


    <h1>Camera Shop Exercise</h1>
    <div ng-controller='camController'>
    <select ng-model='sort'>
      <option value='-price'>Price</option>
      <option value='-rating'>Rating</option>
    </select>
    <div ng-repeat="key in cameras | orderBy: sort">
      <h4>{{key.title}}</h4>
      <p ng-class="{orange: key.onSale == true}">Price: {{key.price | currency}}<span ng-show='key.onSale == true' ng-class="{show: key.onSale == true}"> ON SALEE!!</span></p>
      <p>Rating: {{key.rating}}</p>
      <img ng-src={{key.image}} height='125' width='150'>

    </div>
    </div>

    <h1> Event Handling with Ng-Click</h1>
    <div ng-controller='eventController'>
      <h3> The number is: {{number}}</h3>
      <button ng-click="pickRandomNumber()">Pick Random Number</button>
      <br>
      <h2>Word Reverser</h2>
      <input type='text' ng-model='revText'>
      <p>Your word is: {{revText}}</p>
      <button ng-click='reverseText()'>Reverse the text</button>

    </div>

    <h1> Ping Pong Score Keeper</h1>
    <div class='pong' ng-controller='pingController'>
      <div ng-class='{green: player1.score == 11, borange: player2.score == 11, blue: player1.score < 11  && player2.score <11}' ng-click='playerOne()'>
        <h2>Player One</h2>
        <h3>{{player1.score}}</h3>
        <p ng-show=''>Serving</p>
      </div>
      <div ng-class='{green: player2.score == 11, borange: player1.score == 11, blue: player2.score < 11 && player1.score <11}' ng-click='playerTwo()'>
        <h2> Player Two</h2>
        <h3>{{player2.score}}</h3>
        <p ng-show=''>Serving</p>
      </div>
      <div>
      <button ng-click='reset()'>Reset</button>
    </div>
    </div>

    <h1>Contact List</h1>
    <div ng-controller='contactController'>
      <form>
        <label>Name</label>
        <input   ng-model='contact.name' type='text'>
        <label>Email</label>
        <input ng-model='contact.email'  type='email' required>
        <label for='inputPhone'>Phone</label>
        <input ng-model='contact.phone' type='text'>
        <input  class='btn btn-primary' type='submit' ng-click='addContact()'>
        <br>
        <label>Search:</label>
        <input ng-model="query">
      </form>



    <div>
      <table class='table table-striped table-hover'>
        <thead>
          <th> Name </th>
          <th> Email </th>
          <th> Phone </th>
        </thead>
        <tbody ng-mouseover="contact.name = 'Hello  ' + contact.name" ng-repeat='contact in contacts.contacts | filter: query'>
          <td>{{contact.name}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.email}}</td>
        </tbody>
      </table>

    </div>





    </div>


  </body>
</html>
